@{

ViewBag.Title = "Toplantı özeti"; //ViewBag'in Layout ile kullanımı

}

<h1>Toplantı özeti</h1>
<p>Toplantıya sizinle birlikte 20 kişi katılıyor.</p>
<a btn class="btn btn-sm btn-outline-primary" href="#">Katılımcıları Listele</a>