@{

ViewBag.Title = "Toplantı Başvuru"; //ViewBag'in Layout ile kullanımı

Layout="_Layout2"; //Eğer ikinci bir Layout'a ihtiyacımız varsa bu şekilde kullanabiliyoruz. Bunu ViewStart dosyasını kullananmadan Layout2 dosyasını doğrudan çağırmış oluyoruz.Model kullanmadan @ViewBag.Selamlamayı aşağıdaki şekilde kullanıyoruz.HomeController dosyasıyla ilintili
}

<h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1> 
<p>Toplantı katılım dumunuzu bildirin.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>